@media screen and (max-width: 767px) {

/* Sticky Header Section Styling */
.agricola-logo {
  flex-basis: 45%;
  margin-left: 1rem;
}

.agricola-logo img {
  width: 100%;
}

#sticky-menu {
  display: none;
}

.header-cta-wrapper {
  flex-basis: 45%;
  margin-right: 1rem;
  /* margin-right: 0; */
}

#header-cta {
  font-size: 0.75rem;
}

#header-cta {
  border-color: transparent;
  color: var(--darkest-section-bg);
}

/* Header Section Styling */
.header {
  min-height: 100vh;
}

#video-image-wrapper {
  position: relative;
}

.hero#image {
  /* background: url("../assets/images/jon-flobrant-462801-unsplash-mobile.jpg"); */
  background-position: bottom;
}

#hero-logo {
  display: block;
  position: absolute;
  top: 2rem;
  z-index: 5;
  width: 80%;
  margin: 0 2.3rem;
}

.hero-wrapper {
  margin: -5.25rem 0 0;
  position: relative;
}

.hero-content {
  flex-direction: column;
  width: 100%;
}

#column-right {
  flex-basis: 100%;
}

.blurb {
  padding: 0;
}

.blurb h1 {
  font-size: 2.2rem;
}


.profile {
  text-align: center;
}

.profile img {
  width: 40%;
  margin: 0 auto;
}

#social-links {
  margin-bottom: 0;
  margin-top: 1rem;
}

#social-links a {
  color: var(--darkest-section-bg);
  /* color: white; */
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
}

#social-links a:hover,
#social-links a:focus {
  transform: none;
}

#social-links a,
#header-cta,
#top-button {
  /* border-radius: 3px; */
  /* background-color: var(--test-blue-2); */
/* background-color: var(--test-blue-4); */
  /* background-color: var(--test-blue-10); */
/* background-color: var(--test-blue-13); */

  /* background-color: var(--test-red-1); */
/* background-color: var(--test-red-4); */
  /* background-color: var(--test-red-7); */

  /* background-color: var(--test-teal-6); */
  background-color: var(--light-teal);
}
.skill-text {
  /* color: var(--test-blue-2); */
  /* color: var(--test-blue-4); */
  /* color: var(--test-blue-10); */
  /* color: var(--test-blue-13); */

  /* color: var(--test-red-1); */
  /* color: var(--test-red-4); */
  /* color: var(--test-red-7); */

  /* color: var(--test-teal-6); */
  color: var(--light-teal);
}

.title-wrapper {
  margin: 0;
  justify-content: center;
}

.title-wrapper .pipe,
.title-wrapper h4 {
  display: none;
}

.title-wrapper h2 {
  font-size: 1.5rem;
  color: var(--dark-section-bg);
}

.mobile-read-more {
  display: block;
}

.mobile-read-more .collapsible {
  background-color: var(--light-section-bg);
  border: 4px solid var(--medium-section-bg);
  /* border-radius:  */
  color: var(--text-color);
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  margin: 1rem auto;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 70%;
}

.mobile-read-more .active, .mobile-read-more .collapsible:focus {
  background-color: var(--light-section-bg);
}

.mobile-read-more .content {
  padding: 0 1rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--light-section-bg);
}

.mobile-read-more p {
  line-height: 1.2rem;
  margin: 0.75rem 0rem;
}

.mobile-read-more .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--light-text-color) !important;
    float: right;
    margin-left: 5px;
}

.mobile-read-more .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Quote Section Styling */
.section.quote {
  background-color: var(--light-teal);
  box-shadow: 0px 0px 25px 5px var(--light-teal);
  margin-top: 0;
  z-index: 2;
}

.quote h2 {
  color: var(--darkest-section-bg);
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 2px;
}

#cite {
  color: var(--darkest-section-bg);
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
}

/* Services Section Styling */
#skills-wrapper {
  flex-direction: column;
}

#skills-wrapper div {
  margin-bottom: 2rem;
}

/* Work Section Styling */
.section#videos {
  min-height: 10rem;
}

#videos-wrapper {
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
}

.youtube-player {
  flex: 0 0 92%;
  height: 13.25rem;
  padding: 0;
  /* overflow: visible; */
}

/* Client Section Styling */
#client-links {
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
}

.client-wrapper {
  flex: 0 0 70%;
  height: auto;
  max-height: 10rem;
  padding: 0 1.75rem;
}

/* Footer Section Styling */

  footer {
    padding: 2rem 3rem;
  }

  .let-us-help {
    font-size: 0.9rem;
    text-align: left;
    margin: 2rem 0;
    width: 100%;
  }

  .contact-wrapper {
    padding: 0;
    flex-direction: column;
  }

  .email-wrapper {
    margin: 2rem 0rem;
    /* text-align: center; */
    width: 60%
  }

  .conact-links p {
    font-weight: normal;
  }

  .contact-links a {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .social-footer {
    flex-basis: 25%;
    margin-right: 0;
  }

  .social-footer h4 {
    font-weight: 300;
  }

  .social-footer .social-icon a {
    /* background-color: var(--light-teal); */
    /* color: var(--dark-section-bg); */
    /* color: var(--light-teal); */
  }

  .social-footer .social-icon a {
    margin: 0.5rem;
    height: 2.2rem;
    width: 2.2rem;
  }

  #map {
    display: none;
  }

  #lion-logo {
    margin: 3rem auto 0rem;
    width: 65%;
  }

  #top-button {
    /* background-color: var(--darkest-section-bg); */
    border-top-left-radius: 5px;
    right: 0;
  }

  #top-button i {
    color: var(--light-text-color); /* for dark backgrounds */
    color: var(--darkest-section-bg); /* for light backgrounds */
  }

}
