/* Start out with the custom css variables for the background sections */

:root {
  /* Background colors */
  --light-section-bg:   #FFFFFF;
  --medium-section-bg:  #626365;
  --dark-section-bg:    #393E42;
  --darkest-section-bg: #171717;
  --bg-texture:         url('../assets/images/wild_oliva/wild_oliva_@2X.png');

  /* Text colors */
  --light-text-color:   #ECF0F2;
  --text-color:         #4E5255;
  --medium-text-color:  #888F87;
  --highlight-color:    #B72729;
  --light-teal:         #55f5cd;

  /* Fonts */
  --custom-font: 'American Captain';
}

@font-face {
  font-family: 'American Captain';
  font-style: normal;
  font-weight: 400;
  src:
    local('American Captain'),
    url('../assets/fonts/American Captain.ttf') format('ttf');
}

*, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.section {
  min-height: 45vh;
  padding: 2rem;
}

.section h2,
.section h3,
footer h2,
header h2 {
  text-align: center;
  color: var(--light-text-color);
  font-weight: 200;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

/* Header Section Styling */

.header {
  min-height: 120vh;
  position: relative;
  padding-bottom: 5rem;
}

.hero {
  background: url("../assets/images/jon-flobrant-462801-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
  width: 100%;
  height: 60vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hero-wrapper {
  position: absolute;
  margin: -8rem 0rem;
}

.hero-content {
  display: flex;
  width: 75%;
  margin: 0rem auto;
}

#column-left,
#column-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#column-left {
  flex-basis: 25%;
}

.profile img {
  border: 4px solid white;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

#social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.social-icon a {
  background-color: var(--medium-section-bg);
  color: var(--light-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0.2rem;
  padding: 0.25rem;
  text-decoration: none;
  transition: all 0.3s;
}

.social-icon a:hover {
  /* background-color: var(--light-text-color); */
  background-color: var(--light-teal);
  border-radius: 3px;
  color: var(--dark-section-bg);
  transform: scale(1.2);
}

.social-icon i {
  display: none;
}

.social-icon a i {
  display: block;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

#menu a {
  border: 2px solid transparent;
  color: var(--dark-section-bg);
  margin: 0.2rem auto;
  padding-left: 1.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;
  /* text-align: center; */
  transition: all 0.3s;
  width: 60%;
}

#menu a:hover {
    /* border-left: 2px solid var(--medium-text-color); */
    /* transform: scale(1.1); */
    padding-left: 2rem;
}

#menu a:after {
	content: '';
	display: block;
	margin-left: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

#menu a:hover:after {
	width: 100%;
	background: var(--light-teal);
}

#column-right {
  flex-basis: 75%;
}

.title-wrapper {
  color: white;
  display: flex;
  font-size: 1.25rem;
  margin: 3rem 0rem 6rem;
}

.title-wrapper .pipe {
  margin: 0 0.5rem;
}

.title-wrapper h4 {
  font-weight: lighter;
  padding-top: 0.4rem;
  color: var(--light-text-color);
}

.blurb {
  color: var(--text-color);
  line-height: 1.3rem;
  padding-right: 3rem;
}

.blurb h1 {
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Quote Section Styling */

.section.quote {
  background-color: var(--medium-section-bg);
  min-height: 12vh;
  margin-top: 3rem;
}

#cite, #company-quote {
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.75s;
}

#cite.slideUp, #company-quote.slideUp {
  opacity: 1;
  transform: translateY(0%);
}

.quote h2 {
  font-style: italic;
  text-transform: none;
}

#cite {
  margin-top: 2rem;
  margin-right: 7rem;
  text-align: right;
}

/* Skills Section Styling */

.section#skills,
footer {
  background-color: var(--dark-section-bg);
  padding: 3rem 0;
}

#skills-wrapper {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 4rem auto 0rem;
}

#skills-wrapper div {
  opacity: 0;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  transform: translateY(25%);
}

#skills-wrapper div.slideUp {
  opacity: 1;
  transform: translateY(0%);
}

.skill-icons {
  width: 128px;
  height: 128px;
  align-self: center;
}

.skill-header {
  color: var(--light-text-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0rem 1rem;
}

.skill-text {
  color: var(--medium-text-color);
  text-align: center;
}

/* Work Section Styling */

.section#work {
  background: var(--bg-texture);
  background-repeat: repeat;
  padding: 4rem 0rem;
}

#videos-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}

.youtube-player {
    position: relative;
    /* padding-bottom: 56.23%; */
    padding-bottom: 18%;
    /* Use 75% for 4:3 videos ? */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0.25rem;
    flex-basis: 32.5%;
}

.youtube-player:hover,
.youtube-player:hover img {
  /* NOTE Use if image is in color for hover effect */
  /* -webkit-filter: brightness(75%); */

  /* NOTE use if image is in grayscale */
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    transition: .25s all;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    /* background: url("https://i.imgur.com/TxzC70f.png") no-repeat; */
    cursor: pointer;
}

/* Client Section Styling */

.clients {
  background-color: var(--dark-section-bg);
  padding: 2rem 0rem;
  width: 100%;
}

.clients .happy-clients {
  color: rgba(200,200,200);
  text-align: center;
}

.client-wrapper {
  flex-basis: 20%;
  /* height: 8rem; */
  max-height: 12rem;
}

.client-wrapper .client-image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.client-wrapper:hover .client-image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.05);
}

#client-links {
  display: flex;
  justify-content: space-around;
  margin: 3rem auto 4rem;
  width: 80%;
  height: auto;
}

.clients p {
  color: var(--light-text-color);
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 1rem auto 3rem;
  text-align: center;
  width: 70%;
}

/* Footer Section Styling */

footer {
  /* background-color: var(--darkest-section-bg); */
}

.contact-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.email-wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
  /* height: 225px; */
  /* width: 450px; */
}

.contact-links p {
  color: var(--medium-text-color);
  font-weight: lighter;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.contact-links p i {
  color: var(--light-teal);
}

.contact-links a {
  /* border-bottom: 2px solid var(--medium-text-color); */
  color: var(--light-text-color);
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.contact-links a:hover {
  opacity: 0.7;
}

.social-footer {
  /* flex-basis: 10%; */
  margin-right: 4rem;
}

.social-footer h4 {
  color: var(--medium-text-color);
  font-weight: lighter;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#social-footer {
  display: flex;
  justify-content: center;
  /* flex-flow: row wrap; */
}

#map {
  height: auto;
  flex-basis: 45%;
  border-radius: 15px;
  text-align: center;
}

#map img {
  border-radius: 15px;
}
